*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: rgb(0, 21, 79);
    display: flex;
    justify-content: space-between;
}

.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar ul{
    display: flex;
    list-style-type: none;
}

.navbar a{
    color: #ffffff;
    text-decoration: none;
    padding: 7px;
}

.logo-name{
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}