*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: rgb(0, 21, 79);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar ul{
    display: flex;
    list-style-type: none;
}

.navbar a{
    color: #ffffff;
    text-decoration: none;
    padding: 7px;
}

.logo-name{
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

nav{
    margin-right: 20px;
}

body{
    background-color: #edf2f7;
}

.main{
    display: flex;
    padding: 1.5rem 2rem;
}

aside{
    width: 25%;
}

main{
    width: 75%;
}

aside, main{
    background-color: #ffffff;
    height: 600px;
    padding: 1rem;
    border-radius: 40px;
}